@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button @onclick=click>Clicked @times</button>



@code{
    int times = 0;
    void click() => times++;
}

